CassVerifyExample/Connected Services/CassVerifyV2/CASSVerify1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CASSVerify.BusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CASSVerify.BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://cassverify-test.state.ak.us/CASSVerify.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="CASSRefCodes.DPVCMRAFlag">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Y" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CASSRefCodes.DPVCMRAFlag" nillable="true" type="tns:CASSRefCodes.DPVCMRAFlag" />
  <xs:simpleType name="CASSRefCodes.DPVFalsePostiveFlag">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Y" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CASSRefCodes.DPVFalsePostiveFlag" nillable="true" type="tns:CASSRefCodes.DPVFalsePostiveFlag" />
  <xs:simpleType name="CASSRefCodes.DPVFlag">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N" />
      <xs:enumeration value="Y" />
      <xs:enumeration value="S" />
      <xs:enumeration value="D" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CASSRefCodes.DPVFlag" nillable="true" type="tns:CASSRefCodes.DPVFlag" />
  <xs:complexType name="ArrayOfCASSRefCodes.DPVFootNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CASSRefCodes.DPVFootNote" type="tns:CASSRefCodes.DPVFootNote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCASSRefCodes.DPVFootNote" nillable="true" type="tns:ArrayOfCASSRefCodes.DPVFootNote" />
  <xs:simpleType name="CASSRefCodes.DPVFootNote">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A1" />
      <xs:enumeration value="AA" />
      <xs:enumeration value="BB" />
      <xs:enumeration value="CC" />
      <xs:enumeration value="F1" />
      <xs:enumeration value="G1" />
      <xs:enumeration value="M1" />
      <xs:enumeration value="M3" />
      <xs:enumeration value="N1" />
      <xs:enumeration value="P1" />
      <xs:enumeration value="P3" />
      <xs:enumeration value="PB" />
      <xs:enumeration value="R1" />
      <xs:enumeration value="R7" />
      <xs:enumeration value="RR" />
      <xs:enumeration value="U1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CASSRefCodes.DPVFootNote" nillable="true" type="tns:CASSRefCodes.DPVFootNote" />
  <xs:simpleType name="CASSRefCodes.FinalistReturnCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="F0" />
      <xs:enumeration value="F1" />
      <xs:enumeration value="F2" />
      <xs:enumeration value="F9">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CASSRefCodes.FinalistReturnCode" nillable="true" type="tns:CASSRefCodes.FinalistReturnCode" />
</xs:schema>