CassVerifyExample/Connected Services/CassverifyReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://state.ak.us" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://state.ak.us" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://state.ak.us">
      <s:element name="verifyAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addr" type="tns:CASSAddress" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CASSAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="line1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="line2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cassVerified" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="returncode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="generalRC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="verifyAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verifyAddressResult" type="tns:CASSAddress" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="verifyAddressSoapIn">
    <wsdl:part name="parameters" element="tns:verifyAddress" />
  </wsdl:message>
  <wsdl:message name="verifyAddressSoapOut">
    <wsdl:part name="parameters" element="tns:verifyAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="verifyAddress">
      <wsdl:input message="tns:verifyAddressSoapIn" />
      <wsdl:output message="tns:verifyAddressSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="verifyAddress">
      <soap:operation soapAction="http://state.ak.us/verifyAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="verifyAddress">
      <soap12:operation soapAction="http://state.ak.us/verifyAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://cassverify.state.ak.us/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://cassverify.state.ak.us/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>